<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/style.css" />

    <!-- <style> -->
    <!--   header, -->
    <!--   .hero { -->
    <!--     display: none; -->
    <!--   } -->
    <!--   main { -->
    <!--     max-height: 30vh; -->
    <!--     overflow: hidden; -->
    <!--   } -->
    <!-- </style> -->

    <!-- -->
  </head>

  <body>
    <header>
      <h1>
        <a href="/">
          <img src="/img/logo.png" alt="IGNITE GOD’S LITE LLC" class="logo" />
        </a>
      </h1>

      <blockquote class="bible">
        But my God shall supply all your needs according to his riches in glory
        by Christ Jesus.
        <cite>Philippians 4:19</cite>
      </blockquote>
    </header>

    {{content}}

    <footer class="footer | even-columns white brandbg" style="">
      <blockquote class="bible | full-grid">
        And of some have compassion, making a difference.
        <cite>Jude 1.22</cite>
      </blockquote>

      <ul class="contact">
        <li><a href="/about">About us</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <li>
          Email:
          <a href="mailto:jude1.22@ignite-gods-lite.com">
            jude1.22@ignite-gods-lite.com</a
          >
        </li>
        <li>Phone: <a href="tel:2104412319">210-441-2319</a></li>
      </ul>

      <div class="barbi">
        <p>
          Barbi J. Law, B.A. is a third party Independently Operated Authorized
          Representatives that can assist you in filing your military or
          civilian disability claims.
        </p>
      </div>

      <p class="copyright | full-grid">
        Copyright 2016 – <span id="thisyear">{%year%}</span>, Barbi J Law and
        IGNITE GOD'S LITE, LLC
      </p>
    </footer>
    <!-- <script src="https://cdn.ywxi.net/js/1.js" async></script> -->
  </body>
</html>
