---
layout: base
---

<div class="hero">
  <p class="major | center">
    Professional assistance for military and civilians filing disability claims
  </p>
  <p class="minor | brandbg white">
    <strong>IGNITE</strong> (In God's Name I Trust Eternally) are Independently
    Operated, Non Attorney, Authorized Representatives can assist in filing
    either civilian or military disability claims with the Social Security
    Administration
  </p>
</div>

<main class="container">{{content}}</main>
